.main-links {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding-left: 75px;
  padding-right: 75px;
  width: 100vw;
  min-width: 700px;
  height: 100px;
  top: 0;
}

.main-links h1 {
  margin-right: 100px;
}

.main-links ul {
  padding: 0 25px;
}

.main-links a {
  color: #fff;
  text-decoration: none;
}

.main-links a:hover {
  color: #c28b0c;
}

.main-links .page-links {
  display: flex;
}

.main-links .social {
  display: flex;
}

.main-links div:last-child {
  margin-left: auto;
}
